.flexForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.globalForm {
  color: white;
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.ressourcesChoix {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.formRessources {
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;
}
.bois {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
}
.baies {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
}
.campement {
  grid-area: 2 / 3 / 3 / 4;
  text-align: center;
}
.goutte {
  grid-area: 3 / 1 / 4 / 2;
  text-align: center;
}
.poisson {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
}
.pierre {
  grid-area: 3 / 3 / 4 / 4;
  text-align: center;
}
.new {
  grid-area: 4 / 2 / 5 / 3;
  text-align: center;
}

.positionChoix {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.descriptionForm {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.addRessource {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.form {
  /* display: flex;
  justify-content: right; */
}

.formOff {
  display: none;
}

.inputText {
  background: none;
  color: orange;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 5%;
  height: 2em;
  font-size: 100%;
  margin-bottom: 2em;
  margin-top: 1em;
}

.inputText:hover {
  cursor: auto;
}

.inputText:focus {
  border: 3px solid;
  border-color: rgb(60, 184, 19);
  outline: none;
  background: none;
}

.cible {
  width: 10%;
}

.btnAddRessource {
  /* font-weight: bold; */
  font-size: 15px;
  height: 30px;
  width: 180px;
  display: flex;
  justify-content: center;
}

.ButtonAddPosition {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 160px;
}

.Y {
  margin-top: 30px;
}
