.body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* background-image: url("assets/carteNB.jpg");
  background-size: cover;
  background-position: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 10%;
  margin-top: 1em;
  margin-left: 1em;
}

.carte {
  z-index: -1;
  width: 100vw;
  border: 1px dashed black;
}

.contenerCarte {
  position: relative;
}
